<a href="https://colab.research.google.com/github/wenjunc2/Summer-2022/blob/main/AHPO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

check the work direction

In [ ]:
import pandas as pd

In [ ]:
import os
cwd = os.getcwd()

In [ ]:
cwd

'/content'

read into the data

In [ ]:
CleanDataBase = pd.read_excel('CleanDataBase.xlsx')

### Data Exploretion

display the structure of dataset, the unique number of country code, and country product name

In [ ]:
str(CleanDataBase)

'      Country Code           Entity Entity Type Point of Delivery  \\\n0              BHS          BHS MOH         MOH               NaN   \n1              BHS          BHS MOH         MOH               NaN   \n2              BHS          BHS MOH         MOH               NaN   \n3              BHS          BHS MOH         MOH               NaN   \n4              BHS          BHS MOH         MOH               NaN   \n...            ...              ...         ...               ...   \n14332          SLV  Ayudame a vivir   Fundacion           Unknown   \n14333          SLV  Ayudame a vivir   Fundacion           Unknown   \n14334          SLV  Ayudame a vivir   Fundacion           Unknown   \n14335          SLV  Ayudame a vivir   Fundacion           Unknown   \n14336          SLV  Ayudame a vivir   Fundacion           Unknown   \n\n      Purchase Mechanism  Program   Region          Therapeutic Area  \\\n0                Unknown      NaN      NaN  Cardiovascular medicines   \n1                Unknown      NaN      NaN  Cardiovascular medicines   \n2                Unknown      NaN      NaN  Cardiovascular medicines   \n3                Unknown      NaN      NaN  Cardiovascular medicines   \n4                Unknown      NaN      NaN  Cardiovascular medicines   \n...                  ...      ...      ...                       ...   \n14332            Unknown  Unknown  Unknown           Antineoplastics   \n14333            Unknown  Unknown  Unknown           Antineoplastics   \n14334            Unknown  Unknown  Unknown           Antineoplastics   \n14335            Unknown  Unknown  Unknown           Antineoplastics   \n14336            Unknown  Unknown  Unknown           Antineoplastics   \n\n                                    Country Product Name  \\\n0                                             AMLODIPINE   \n1                                             AMLODIPINE   \n2                                         CHLORTHALIDONE   \n3                                     HYDROCHLOROTIAZIDE   \n4                                             LISINOPRIL   \n...                                                  ...   \n14332  Asparginasa Pegilada , Un vial de 5 ml de solu...   \n14333  L-Asparginasa, Polvo para solucion inyectable....   \n14334                     Metotrexato, Tableta de 2.5mg.   \n14335  Metotrexato, Solución inyectable. Frasco vial ...   \n14336  Mitoxantrona, Solución para inyectable. Frasco...   \n\n                             Country Product Description  Generic  \\\n0                                                TABLETS  Unknown   \n1                                                TABLETS  Unknown   \n2                                                TABLETS  Unknown   \n3                                                TABLETS  Unknown   \n4                                                TABLETS  Unknown   \n...                                                  ...      ...   \n14332  Un vial de 5 ml de solución contiene 3,750 uni...   Unkown   \n14333  Polvo para solucion inyectable. Frasco vial de...   Unkown   \n14334                                  Tableta de 2.5mg.   Unkown   \n14335     Solución inyectable. Frasco vial de 500mg/20mL   Unkown   \n14336      Solución para inyectable. Frasco de 20mg/10mL   Unkown   \n\n       Subunits per Unit                                       Catalog Name  \\\n0                      1            AMLODIPINE 5 MG, TABLET, BLISTER, 10X30   \n1                      1          AMLODIPINE 10 MG, TABLET, BLISTER, 10X100   \n2                      1        CHLORTHALIDONE 25 MG, TABLET, BLISTER, 10X3   \n3                      1   HYDROCHLOROTHIAZIDE 25 MG, TABLET, BLISTER, 25X4   \n4                      1            LISINOPRIL 20 MG, TABLET, BLISTER, 10X3   \n...                  ...                                                ...   \n14332                  1  PUSHY ASPARGINASE, A 5 ML VIAL OF SOLUTION CON...   \n14333                  1  ASPARAGINASE\xa010000\xa0IU,\xa0POWDER\xa0FOR\xa0INJECTION,\xa0V...   \n14334                  1  METHOTREXATE\xa02.5\xa0MG\xa0(SODIUM\xa0SALT),\xa0TABLET,\xa0BLI...   \n14335                  1     METOTREXATE, INJECTION. 500MG/20ML ROAD BOTTLE   \n14336                  1  MITOXANTRONA, SOLUTION FOR INJECTABLE. 20MG/10...   \n\n      Supplier Manufacturer Purchase Date  Purchase Year  Total Amount  \\\n0      Unknown      Unknown           NaT         2021.0           NaN   \n1      Unknown      Unknown           NaT         2021.0           NaN   \n2      Unknown      Unknown           NaT         2021.0           NaN   \n3      Unknown      Unknown           NaT         2021.0           NaN   \n4      Unknown      Unknown           NaT         2021.0           NaN   \n...        ...          ...           ...            ...           ...   \n14332  Unknown      Unknown           NaT         2022.0        1800.0   \n14333  Unknown      Unknown           NaT         2022.0          92.5   \n14334  Unknown      Unknown           NaT         2022.0           0.5   \n14335  Unknown      Unknown           NaT         2022.0          18.0   \n14336  Unknown      Unknown           NaT         2022.0          90.0   \n\n       Unit Quantity  Min Unit Price USD  \n0                NaN            0.026000  \n1                NaN            0.019500  \n2                NaN            0.186333  \n3                NaN            0.010000  \n4                NaN            0.028400  \n...              ...                 ...  \n14332            1.0         1800.000000  \n14333            1.0           92.500000  \n14334            1.0            0.500000  \n14335            1.0           18.000000  \n14336            1.0           90.000000  \n\n[14337 rows x 20 columns]'

In [ ]:
type(CleanDataBase)

pandas.core.frame.DataFrame

In [ ]:
CleanDataBase.head()

,Country Code,Entity,Entity Type,Point of Delivery,Purchase Mechanism,Program,Region,Therapeutic Area,Country Product Name,Country Product Description,Generic,Subunits per Unit,Catalog Name,Supplier,Manufacturer,Purchase Date,Purchase Year,Total Amount,Unit Quantity,Min Unit Price USD
0,BHS,BHS MOH,MOH,NaN,Unknown,NaN,NaN,Cardiovascular medicines,AMLODIPINE,TABLETS,Unknown,1,"AMLODIPINE 5 MG, TABLET, BLISTER, 10X30",Unknown,Unknown,NaT,2021.0,NaN,NaN,0.026000
1,BHS,BHS MOH,MOH,NaN,Unknown,NaN,NaN,Cardiovascular medicines,AMLODIPINE,TABLETS,Unknown,1,"AMLODIPINE 10 MG, TABLET, BLISTER, 10X100",Unknown,Unknown,NaT,2021.0,NaN,NaN,0.019500
2,BHS,BHS MOH,MOH,NaN,Unknown,NaN,NaN,Cardiovascular medicines,CHLORTHALIDONE,TABLETS,Unknown,1,"CHLORTHALIDONE 25 MG, TABLET, BLISTER, 10X3",Unknown,Unknown,NaT,2021.0,NaN,NaN,0.186333
3,BHS,BHS MOH,MOH,NaN,Unknown,NaN,NaN,Cardiovascular medicines,HYDROCHLOROTIAZIDE,TABLETS,Unknown,1,"HYDROCHLOROTHIAZIDE 25 MG, TABLET, BLISTER, 25X4",Unknown,Unknown,NaT,2021.0,NaN,NaN,0.010000
4,BHS,BHS MOH,MOH,NaN,Unknown,NaN,NaN,Cardiovascular medicines,LISINOPRIL,TABLETS,Unknown,1,"LISINOPRIL 20 MG, TABLET, BLISTER, 10X3",Unknown,Unknown,NaT,2021.0,NaN,NaN,0.028400

In [ ]:
Country_Code = CleanDataBase['Country Code'].unique()

In [ ]:
Country_Code # unique country code

array(['BHS', 'BMU', 'BRA', 'CHL', 'COM', 'SLV', 'ECU IESS', 'GTM', 'ARG',
       'ECU', 'PER', 'PAN', 'COL', 'CRI', 'OECS PPS', 'TTO', 'MEX', 'DOM'],
      dtype=object)

In [ ]:
Coutry_Product_Name = CleanDataBase['Country Product Name'].unique()

In [ ]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

In [ ]:
#Coutry_Product_Name

In [ ]:
len(Coutry_Product_Name) # total unique coutry product name number

5012

try to display the country product name for BHS

In [ ]:
BHS_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'BHS']['Country Product Name'].unique()

In [ ]:
BHS_Coutry_Product_Name

array(['AMLODIPINE', 'CHLORTHALIDONE', 'HYDROCHLOROTIAZIDE', 'LISINOPRIL',
       'LISINOPRIL + HYDROCHLOROTHIAZIDE', 'LOSARTAN', 'METOPROLOL',
       'TELMISARTAN', 'TELMISARTAN + AMLODIPINE'], dtype=object)

display the number of product for each country

In [ ]:
Coutry_Product_Name_Number = []

for name in Country_Code:
  Coutry_Product_Name_Unique = CleanDataBase[CleanDataBase['Country Code'] == name]['Country Product Name'].unique()
  number = len(Coutry_Product_Name_Unique)
  Coutry_Product_Name_Number.append(number)

In [ ]:
Coutry_Product_Name_Number

[9, 3, 133, 3620, 24, 48, 80, 5, 1, 2, 48, 3, 899, 4, 26, 34, 1, 78]

In [ ]:
sum(Coutry_Product_Name_Number)

5018

In [ ]:
country_data = {'BHS': [9], 'BMU': [3], 'BRA': [133], 'CHL': [3620], 'COM': [24], 'SLV': [48], 'ECU IESS': [80], 'GTM': [5], 'ARG': [1],
       'ECU': [2], 'PER': [48], 'PAN': [3], 'COL': [899], 'CRI': [4], 'OECS PPS': [26], 'TTO': [34], 'MEX': [1], 'DOM': [78]}

In [ ]:
Coutry_Product = pd.DataFrame(data = country_data)

In [ ]:
Coutry_Product

,BHS,BMU,BRA,CHL,COM,SLV,ECU IESS,GTM,ARG,ECU,PER,PAN,COL,CRI,OECS PPS,TTO,MEX,DOM
0,9,3,133,3620,24,48,80,5,1,2,48,3,899,4,26,34,1,78

create a list which contains lists about the product names for each country

In [ ]:
BHS_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'BHS']['Country Product Name'].unique()
BMU_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'BMU']['Country Product Name'].unique()
BRA_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'BRA']['Country Product Name'].unique()
CHL_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'CHL']['Country Product Name'].unique()
COM_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'COM']['Country Product Name'].unique()
SLV_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'SLV']['Country Product Name'].unique()
ECU_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'ECU']['Country Product Name'].unique()
IESS_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'IESS']['Country Product Name'].unique()
GTM_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'GTM']['Country Product Name'].unique()
ARG_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'ARG']['Country Product Name'].unique()
ECU_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'ECU']['Country Product Name'].unique()
PER_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'PER']['Country Product Name'].unique()
PAN_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'PAN']['Country Product Name'].unique()
COL_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'COL']['Country Product Name'].unique()
CRI_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'CRI']['Country Product Name'].unique()
OECS_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'OECS']['Country Product Name'].unique()
PPS_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'PPS']['Country Product Name'].unique()
TTO_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'TTO']['Country Product Name'].unique()
MEX_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'MEX']['Country Product Name'].unique()
DOM_Coutry_Product_Name = CleanDataBase[CleanDataBase['Country Code'] == 'DOM']['Country Product Name'].unique()

In [ ]:
Coutry_Product_Names = [BHS_Coutry_Product_Name, BMU_Coutry_Product_Name, BRA_Coutry_Product_Name, CHL_Coutry_Product_Name, COM_Coutry_Product_Name, 
                        SLV_Coutry_Product_Name, ECU_Coutry_Product_Name, IESS_Coutry_Product_Name, GTM_Coutry_Product_Name, 
                        ARG_Coutry_Product_Name, ECU_Coutry_Product_Name, PER_Coutry_Product_Name, PAN_Coutry_Product_Name, 
                        COL_Coutry_Product_Name, CRI_Coutry_Product_Name, OECS_Coutry_Product_Name, PPS_Coutry_Product_Name,
                        TTO_Coutry_Product_Name, MEX_Coutry_Product_Name, DOM_Coutry_Product_Name]

Because CHL_Coutry_Product_Name has the largest number of product name, which is 3620, select CHL_Courty_Product_Name to count the frequency of each product_name, and the frequency of first word in product name (if some product names refer to the same product, the products which have the same first name should have a high possibility to refer to the same medicine?)

In [ ]:
# split the product name to each words
CHL_Coutry_Product_Nmae_Dictionary = []
for i in range(0, len(CHL_Coutry_Product_Name)):
  temp_element = CHL_Coutry_Product_Name[i].split()
  for j in range(0, len(temp_element)):
    CHL_Coutry_Product_Nmae_Dictionary.append(temp_element[j])

In [ ]:
# change every words to upper type
CHL_Coutry_Product_Nmae_Dictionary_Upper = []
for i in CHL_Coutry_Product_Nmae_Dictionary:
  temp_i = i.upper()
  CHL_Coutry_Product_Nmae_Dictionary_Upper.append(temp_i)

In [ ]:
#CHL_Coutry_Product_Nmae_Dictionary_Upper

In [ ]:
# change list to set to delete the multiple words (only keep the unique one)
CHL_Coutry_Product_Nmae_Dictionary_Upper_Set = set(CHL_Coutry_Product_Nmae_Dictionary_Upper)

In [ ]:
len(CHL_Coutry_Product_Nmae_Dictionary_Upper_Set) # unique words

3015

In [ ]:
len(CHL_Coutry_Product_Nmae_Dictionary_Upper) # (multiple) words total number

33563

In [ ]:
import collections
CHL_Coutry_Product_Nmae_Dictionary_Upper_counter=collections.Counter(CHL_Coutry_Product_Nmae_Dictionary_Upper)

In [ ]:
from itertools import islice

def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(islice(iterable, n))

n_items = take(10, CHL_Coutry_Product_Nmae_Dictionary_Upper_counter.items())
#print(CHL_Coutry_Product_Nmae_Dictionary_Upper_counter)

try to count (only) the first word in each product name

In [ ]:
CHL_Coutry_Product_Nmae_Dictionary_Upper_First = []
for i in range(0, len(CHL_Coutry_Product_Name)):
  temp_element = CHL_Coutry_Product_Name[i].split()
  temp_element_first = temp_element[0].upper()
  CHL_Coutry_Product_Nmae_Dictionary_Upper_First.append(temp_element_first)

In [ ]:
len(CHL_Coutry_Product_Name)

3620

In [ ]:
len(CHL_Coutry_Product_Nmae_Dictionary_Upper_First)

3620

In [ ]:
CHL_Coutry_Product_Name_First_Notunique = []
CHL_Coutry_Product_Name_Notunique = CleanDataBase[CleanDataBase['Country Code'] == 'CHL']['Country Product Name'].tolist()
for i in range(0, len(CHL_Coutry_Product_Name_Notunique)):
  temp_element = []
  temp_element = CHL_Coutry_Product_Name_Notunique[i].split(" ")
  temp_element_first = temp_element[0].upper()
  CHL_Coutry_Product_Name_First_Notunique.append(temp_element_first)

In [ ]:
type(CHL_Coutry_Product_Name_Notunique)

list

In [ ]:
len(CHL_Coutry_Product_Name_Notunique)

6899

The result is not as expected

In [46]:
CHL_Coutry_Product_Name_Notunique_counter=collections.Counter(CHL_Coutry_Product_Name_Notunique)
#print(CHL_Coutry_Product_Name_Notunique_counter)